.header__wrapper
{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.logo
{
    color: #BEBEBE;
    font-size: 18px;
    margin-left: -3px;
    line-height: 25px;

}