@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body
{
    background-color: #302E2E;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;  /* semi-bold; */
}

#logo
{
    color: #BEBEBE;
    font-size: 18px;
    margin-left: -3px;
    line-height: 25px;
}

.wrapper 
{
    margin: 38px 114px auto 120px;
}

#line
{
    background-color: #8C8C8C;
    width: 64px;
    height: 1px;
    margin-top: 40px;
}

#title
{
    font-size: 40px;
    color:#FDFDFD;
    margin-top: 30px;

}

.text
{
    color: #C3C3C3;
    font-size: 16px;
    margin-top: 9px;
    max-width: 1050px;
    font-weight: 500; 
}

#main-screen-title
{
    font-weight: 900;
    font-size: 72px;
    margin-top: 115px;
    line-height:78px;
    color: #6D6D6D;
}

footer
{
    margin-top: 220px;
}

ul {
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
  }

a {
    text-decoration: none;
    color: #DFDFDF;
    font-size: 18px;
    font-weight: 400;
  }

    .menu__item {
    float:left; 
    margin-right:40px; 
  }

  .header__wrapper
  {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  #menu
  {
      margin-top: 11px;
      margin-right:-40px;
  }

  .num
  {
      font-size: 48px;
      font-weight: 900;
      color: #6B6B6B;
      position: absolute;
  }

  .item:hover .num{
      color: #D9D9D9 !important;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      text-shadow: 0px 0px 7px rgba(184, 184, 184, 0.7);
      cursor: default;
  }

  .item:hover .item__text
  {
    display: block;
  }

  .item:hover
  {
      cursor: default;
  }

  .text_num
  {
      color:#00D29D;
      font-size: 16px;
      font-weight: 600;
      position: absolute;
  }

  .item__text
  {
    position: absolute;
    color: #A2A2A2;
    font-size: 16px;
    font-weight: 400;
    display: none;
  }

  .sub__menu
  {
    position: absolute;
    box-sizing:border-box;
    width: 214px;
    height: 79px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    display: none;
}

.sub__menu__item
{
    margin-top: 10px;
    margin-left: 37px;
}
 
#components:hover .sub__menu
{
    display: block;
}